<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>141760973760-odedj0o9mm7ggs6bjetmb8a48hp7b6ll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141760973760-odedj0o9mm7ggs6bjetmb8a48hp7b6ll</string>
	<key>API_KEY</key>
	<string>AIzaSyAGSESRto80vbfKMA_GI2Erj4ainjgcJXA</string>
	<key>GCM_SENDER_ID</key>
	<string>141760973760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imzii</string>
	<key>PROJECT_ID</key>
	<string>imzii-55674</string>
	<key>STORAGE_BUCKET</key>
	<string>imzii-55674.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141760973760:ios:aef2162de9847fb7</string>
	<key>DATABASE_URL</key>
	<string>https://imzii-55674.firebaseio.com</string>
</dict>
</plist>